.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin-top: 10px;
}

.grid-item {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.product-grid .grid-container {
    justify-content: center;
}

.custom-description .ant-descriptions-item-label {
    width: 30%;
    text-align: left;
    font-weight: bold;
}

.custom-description .ant-descriptions-item-content {
    width: 70%;
    text-align: left;
}

h1 {
    font-size: 2rem;
    color: purple;
}

.product-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
